<%-- 
    Document   : headerusuario
    Created on : 03-may-2013, 16:26:47
    Author     : IsmiKinPorti
--%>


<%@tag description="put the tag description here" pageEncoding="UTF-8"%>

<link rel="stylesheet" href="css/pages/home.css" />

<div class=" menu-barra navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Proyecto Lythos</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li > <a href="#"> Inicio </a> </li>                                        
                    <li > <a href="#"> Listin Telefonico </a> </li>
                    <li > <a href="adminUsuario">Usuarios</a>  </a> </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>